name: Compile script

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:

jobs:
  compile:
    name: Compile autohotkey script
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build with latest AutoHotkey release
        uses: benmusson/ahk2exe-action@v1
        with:
          in: hotkeys.ahk
          out: out/hotkeys-${{ github.ref_name }}.exe
          target: x64
          compression: upx
          ahk-tag: v2.0.19
          ahk2exe-tag: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload executable as artifact
        if: github.ref_type != 'tag'
        uses: actions/upload-artifact@v6
        with:
          name: hotkeys-${{ github.ref_name }}.exe
          path: out/hotkeys-${{  github.ref_name }}.exe

      - name: Create release and attach executable
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@v2
        with:
          files: out/hotkeys-${{  github.ref_name }}.exe
          draft: true
          generate_release_notes: true
