name: Compile script

on:
  push:
    tags:
    - 'v*'
  workflow_dispatch:

jobs:
  compile:
    name: Compile autohotkey script
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build with latest AutoHotkey release
        uses: benmusson/ahk2exe-action@d779a7d7b2b3dcb238b8ad8bdbca986cf4f75356 # v1
        with:
          in: hotkeys.ahk
          out: out/hotkeys-${{ github.ref_name }}.exe
          target: x64
          compression: upx
          ahk-tag: v2.0.19
          ahk2exe-tag: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload executable as artifact
        if: github.ref_type != 'tag'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: hotkeys-${{ github.ref_name }}.exe
          path: out/hotkeys-${{  github.ref_name }}.exe

      - name: Create release and attach executable
        if: github.ref_type == 'tag'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: out/hotkeys-${{  github.ref_name }}.exe
          draft: true
          generate_release_notes: true
